*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/360jiagubao/jiagu/.cache/
/360jiagubao/jiagu/log/
/360jiagubao/jiagu/logs/
/360jiagubao/jiagu/output/
/360jiagubao/jiagu/jiagu.db
